<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pick-a-Guide</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="height:100%">
                <li class="sidebar-brand" style="margin-bottom:5px;text-indent:0px">
                    <a href="/">
                       	<img src="../assets/logo.png" style="width:100%"></img>
                    </a>
                </li>
                <li>
                    <a href="/dashboardGuiado?page=dashg1">Página Principal</a>
                </li>
                <li>
                    <a href="/dashboardGuiado?page=dashg2">Perfil</a>
                </li>
                <li>
                    <a href="/dashboardGuiado?page=dashg3">Procurar Guia</a>
                </li>
                <li>
                    <a href="/dashboardGuiado?page=dashg4">Minhas Viagens</a>
                </li>
                <li>
                    <a href="/dashboardGuiado?page=dashg5">Mensagens</a>
                </li>
                <li>
                    <a href="/dashboardGuiado?page=dashg6">Definições</a>
                </li>
                <li>
                    <a href="/dashboardGuiado?page=dashg7">Ajuda</a>
                </li>
		<li style="position:absolute;width:100%;bottom:0">
		    <a href="/sair">Sair</a>
		</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
	{% if dashg1 %}
        <div id="page-content-wrapper">
            <div class="container-fluid";style="allign-items: center; text-allign: center">
                <h1>Sugestões Pick-a-Guide</h1>
                </br>
                <div class="row">

                  <div class="col-md-4">

                    <img src="../assets/aveiro.jpg" class="img-fluid rounded mb-3 mb-md-0" style="width:100%">
                  </div>
                  <div class="col-md-5">

                    <span class="align-middle">
                      <h2 class="text-left align-center"><font color="CornflowerBlue "><u>Aveiro</u></font></h2>
                    </span>

                  </div>

                </div>
                <div class="row">

                  <div class="col-md-8">

                    <span class="align-middle">
                      <h2 class="text-right align-center"><font color="CornflowerBlue "><u> Porto</u></font> </h2>
                    </span>
                  </div>
                  <div class="col-md-4">
                    <img src="../assets/porto.jpg" class="img-fluid rounded mb-3 mb-md-0" style="width:100%">

                  </div>

                </div>



            </div>
        </div>
        <!-- /#page-content-wrapper -->
	{% endif %}
	{% if dashg2 %}
	{% include 'dashg2.html' %}
	{% endif %}
	{% if dashg3 %}
	{% include 'dashg3.html' %}
	{% endif %}
	{% if dashg4 %}
	{% include 'dashg4.html' %}
	{% endif %}
	{% if dashg5 %}
	{% include 'dashg5.html' %}
	{% endif %}
	{% if dashg6 %}
	{% include 'dashg6.html' %}
	{% endif %}
	{% if dashg7 %}
	{% include 'dashg7.html' %}
	{% endif %}
	

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
