<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DASHBOARD</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="height:100%">
                <li class="sidebar-brand" style="margin-bottom:5px;text-indent:0px">
                    <a href="#">
                       	<img src="../assets/logo.png" style="width:100%"></img>
                    </a>
                </li>
                <li>
                    <a href="dashboardGuia?page=dashG1">Página Principal</a>
                </li>
                <li>
                    <a href="dashboardGuia?page=dashG2">Perfil</a>
                </li>
                <li>
                    <a href="dashboardGuia?page=dashG3">Minhas Visitas</a>
                </li>
                <li>
                    <a href="dashboardGuia?page=dashG4">Mensagens</a>
                </li>
                <li>
                    <a href="dashboardGuia?page=dashG5">Definições</a>
                </li>
                <li>
                    <a href="dashboardGuia?page=dashG6">Ajuda</a>
                </li>
		<li style="position:absolute;width:100%;bottom:0">
		    <a href="sair">Sair</a>
		</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
	{% if dashG1 %}
        <div name="pagina_inicial" class="stuff" id="page-content-wrapper" >
            <div class="container-fluid";style="allign-items: center">
                <h1>Visitas feitas na última semana</h1>
                <img src="../assets/graph.png" style="width:70%"></img>
            </div>
        </div>
	{% endif %}
        <!-- /#page-content-wrapper -->
	{% if dashG5 %}
         <div name="perfil" class="stuff" id="page-content-wrapper">
            <div class="container-fluid";style="allign-items: center">
                 <div class="main-login main-center">
                <form class="form-horizontal" method="post" action="#">
                    
                    <div>
                        <h1 style="color: black">Altere os seus dados</h1>
                    </div>

                    <div class="form-group" style="margin-top: 50px">
                        <label for="mobile" class="cols-sm-2 control-label required">Novo telemóvel</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control" name="mobile" id="mobile"  placeholder="Insira o novo telemóvel"/>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="country" class="cols-sm-2 control-label">Nova cidade</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <select class="form-control" name="city" id="city"  placeholder="Insira a sua nova cidade">
                                <option>-Escolha-</option>
                                <option>Porto</option>
                                <option>Aveiro</option>
                                <option>Lisboa</option>
                                <option>Algarve</option>
                                </select>
                            </div>
                        </div>
                    </div>

                     <div class="form-group" style="margin-bottom: 30px">
                        <label for="mobile" class="cols-sm-2 control-label required">Confirmar a sua palavra-passe</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <input type="password" class="form-control" name="password" id="pass"  placeholder="Sua Palavra-passe"/>
                            </div>
                        </div>
                    </div>

                    {% if errors %}
                        <a style="text-align: left;line-height: 20px;"><p style="color: red">Palavra-passe não coincide, tente de novo!</p></a>
                    {% endif %}

                    <div class="form-group ">
                        <button type="submit" class="button">Guardar alteraçoes</button>
                    </div>
                </form>
            </div>
        </div>
	{% endif %}
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
